@use "styles/base/master" as *;

.BtnWrapper {
    padding: 10px;
}

.btn {
    padding: 10px;
    background-color: $color-success;
    color: $color-black;
    width: 150px;
    border-radius: 5px;
}
