@use "styles/base/master" as *;

.BtnWrapper {
    padding: 10px;
}

.btn {
    padding: 10px;
    color: $color-black;
    width: 150px;
    border-radius: 5px;
}

.success {
    background-color: $color-success;
}

.info {
    background-color: $color-info;
}

.warning {
    background-color: $color-warning;
}

.danger {
    background-color: $color-danger;
}
