:global(.contentGrid) {
    --padding-inline: 1px;
    --content-max-width: 1100px;
    --breakout-max-width: 1500px;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [fullWidth-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [fullWidth-end];
}

:global(.contentGrid > :not(.breakout, .fullWidth)),
:global(.fullWidth > :not(.breakout, .fullWidth)) {
    grid-column: content;
}

:global(.contentGrid > .breakout) {
    grid-column: breakout;
}

:global(.contentGrid > .fullWidth) {
    grid-column: fullWidth;
    display: grid;
    grid-template-columns: inherit;
}

:global(img.fullWidth) {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

:global(p.fullWidth) {
    width: 100%;
    display: block !important;
}

:global(.strong) {
    font-weight: 900;
}

:global(.flexCenter) {
    display: flex;
    justify-content: center;
}

:global(body) {
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

:global(h1) {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    padding: 20px;
}

:global(h2) {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.75em;
    padding: 15px;
}

:global(h3) {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    margin-bottom: 1em;
    padding: 10px;
}

:global(h4) {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-normal);
    margin-bottom: 1.25em;
    padding: 10px;
}

:global(h5) {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-normal);
    margin-bottom: 1.5em;
    padding: 10px;
}

:global(h6) {
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-normal);
    margin-bottom: 1.75em;
    padding: 10px;
}

:global(p) {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-loose);
    text-align: var(--text-align-justify);
    padding: 5px;
    margin-bottom: 0.5em;
}

:global(li.hover) {
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    font-style: var(--font-style-normal);
    transition: transform 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.1);
        }
    }

    &:active {
        font-style: var(--font-style-italic);
    }
}
