.qrCodeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.qrCodeInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.dropZone {
    margin: 10px;
    padding: 5px 10px;
    width: 350px;
    box-shadow: inset 0 0 10px var(--color-grey-dark);
    border-radius: 25px;
    line-height: var(--line-height-tight);
    font-size: var(--font-size-base);
}

.input {
    margin: 10px;
    padding: 5px 10px;
    height: 40px;
    width: 350px;
    box-shadow: inset 0 0 10px var(--color-grey-dark);
    border-radius: 25px;
    line-height: var(--line-height-tight);
    font-size: var(--font-size-base);
}

.slider {
    color: var(--color-info);
    width: 250px;
}

.qrCodeOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
