@use "styles/base/master" as *;
@use "styles/base/global" as *;

footer {
    padding: 20px;
    background-color: $color-secondary-light;
    text-align: center;
}

.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLinks {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.footerLinks li {
    display: inline;
    margin-right: 20px;
}

.footerLinks a {
    color: $color-grey-dark;
    text-decoration: none;
}

.socialMedia a {
    margin-right: 10px;
}

.socialMedia img {
    width: 24px;
    height: 24px;
}
