$color-primary-dark: rgb(0, 123, 255);
$color-primary-light: rgb(23, 162, 184);

$color-secondary-dark: rgb(108, 117, 125);
$color-secondary-light: rgb(248, 249, 250);

$color-tertiary-dark: rgb(40, 167, 69);
$color-tertiary-light: rgb(255, 193, 7);

$color-warning: rgb(255, 193, 7);
$color-danger: rgb(220, 53, 69);
$color-info: rgb(23, 162, 184);
$color-success: rgb(40, 167, 69);

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-grey-dark: rgb(52, 58, 64);
$color-grey-light: rgb(233, 236, 239);
