:root {
    --color-primary-dark: rgb(0, 123, 255);
    --color-primary-light: rgb(23, 162, 184);
    --color-secondary-dark: rgb(108, 117, 125);
    --color-secondary-light: rgb(248, 249, 250);
    --color-tertiary-dark: rgb(40, 167, 69);
    --color-tertiary-light: rgb(255, 193, 7);
    --color-info: rgb(173, 217, 244);
    --color-success: rgb(55, 255, 139);
    --color-warning: rgb(244, 211, 94);
    --color-danger: rgb(216, 0, 50);
    --color-black: rgb(16, 11, 0);
    --color-white: rgb(255, 255, 255);
    --color-grey-dark: rgb(52, 58, 64);
    --color-grey-light: rgb(233, 236, 239);
}
