header {
    padding: 10px 20px;
    background-color: var(--color-white);
    border-bottom: solid 2px var(--color-secondary-light);
    position: sticky;
    top: 0;
    h1 {
        display: none;
    }
    @media (min-width: 768px) {
        h1 {
            display: inline;
            padding: 0;
        }
    }
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
}
